.nav {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  background-color: var(--color-dark--1);
  /* border-bottom: 2px solid var(--color-light--2); */
  padding: 0 10rem 0;
}

.nav ul {
  display: flex;
  list-style: none;
  /* font-weight: bold; */
  align-items: center;
  width: 30%;
  font-size: 2rem;
  justify-content: end;
}

.nav li {
  margin-left: 4rem;
  padding-top: 5px;
}

.nav a {
  text-decoration: none;
  color: var(--color-light--3);
}

.nav a:hover{
  color: skyblue;
}

/* .nav-icon-container {

} */

.nav li :global(.active) {
  font-weight: bold;
  color: skyblue;
}
